/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 20px;
    font-size: 2.5em;
    color: #1DB954;
}

button {
    background-color: #1DB954;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 1em;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #17a84d;
}

#topTracks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.track {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
    position: relative;
}

.track img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.track-name {
    display: block;
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

.artist-name {
    display: block;
    margin-top: 5px;
    font-size: 1em;
    color: #555;
}

.rank {
    position: absolute;
    top: -10px;
    left: -10px;
    background-color: #1DB954;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
